	

@font-face {
	font-family: "Ignazio";
	src: url("../font/IgnazioText-Regular.woff2") format("woff2")
	, url("../font/IgnazioText-Regular.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Minipax";
	src: url("../font/Minipax-Bold.woff2") format("woff2")
	, url("../font/Minipax-Bold.woff") format("woff");
	font-weight: 800;
}

@font-face {
	font-family: "Minipax";
	src: url("../font/Minipax-Regular.woff2") format("woff2")
	, url("../font/Minipax-Regular.woff") format("woff");
	font-weight: 400;
}


@font-face {
	font-family: "Minipax";
	src: url("../font/Minipax-SemiBold.woff2") format("woff2")
	, url("../font/Minipax-SemiBold.woff") format("woff");
	font-weight: 600;
}

:root {
	/* colors */
	--base: #A0B7FF;
	--body: #000;
	--accent: #FFE895;

	/* links */
	--link: #EFF8FF;
	--link-transparent: rgba(239, 248, 255, 0.5);
	--link-visited: #69276A;
	--link-visited-transparent: rgba(105, 39, 106, 0.5);

	/* metrics */
		--column: 80px;
	--atom: 20px;
	--atom-coef: 1.5;
	--line-height: calc(var(--atom) * var(--atom-coef));
}

.light {
	color: #EFF8FF;
}

:root {
	--t-body: 1rem;
	--t-small: 0.683rem;
	
	--t-h1: calc(var(--atom) * var(--atom-coef) * var(--atom-coef) * var(--atom-coef));
	--t-h1-lh: calc(var(--line-height) * 3);
	--t-h1-margin: calc(4 * var(--line-height));
	--t-h1-mt: calc(var(--t-h1-margin) * 0.75);
	--t-h1-mb: calc(var(--t-h1-margin) * 0.25);
	
	--t-h2: calc(var(--atom) * var(--atom-coef) * var(--atom-coef));
	--t-h2-lh: calc(var(--line-height) * 2);
	--t-h2-margin: calc(3 * var(--line-height));
	--t-h2-mt: calc(var(--t-h2-margin) * 0.75);
	--t-h2-mb: calc(var(--t-h2-margin) * 0.25);
	
	--t-h3: calc(var(--atom) * var(--atom-coef));
	--t-h3-lh: calc(var(--line-height));
	--t-h3-margin: calc(2 * var(--line-height));
	--t-h3-mt: calc(var(--t-h3-margin) * 0.75);
	--t-h3-mb: calc(var(--t-h3-margin) * 0.25);
	
	--t-h4: calc(var(--atom) * var(--atom-coef));
	--t-h4-lh: calc(var(--line-height));
	--t-h4-margin: calc(2 * var(--line-height));
	--t-h4-mt: calc(var(--t-h3-margin) * 0.75);
	--t-h4-mb: calc(var(--t-h3-margin) * 0.25);
}

.mt-0 {
	margin-top: 0 !important;
}

.g-gap {
	gap: var(--line-height) calc(var(--line-height) * 1.5);
}


h2.t-mb {
	margin-bottom: var(--t-h2-mb);
}

html {
	height: 100%;
	font-size: var(--atom);
	line-height: var(--line-height);
}




body {
	background: #342D67;
    height: 100%;
    background-repeat: no-repeat;
      background-attachment: fixed;
       margin: 0;

	
	font-family: "Ignazio", system-ui, sans-serif;
}

/* Layout */




/* Typography */

/* Links */

a {
	text-decoration: none;
}

a.image {
	border: none !important;
}

a:link {
	color: var(--link);
	border-bottom: 1.5px solid var(--link-transparent);
}


a:visited {
	color: var(--link-visited);
	border-bottom: 1.5px solid var(--link-visited-transparent);
}

a:hover {
	border-bottom: 2px solid currentColor;
}

a:active {
	opacity: 0.5;
}

nav a {
	color: var(--body);
}

/* Styles */
i {
	font-style: italic;
}

b {
	font-weight: bold;
}

p {
	font-size: var(--atom);
	line-height: var(--line-height);
	margin: 0;
}

p + p {
	margin-top: var(--line-height);
}

ul + p {
	margin-top: var(--line-height);
}

div + p {
	margin-top: var(--line-height);
}


ul, ol {
	font-size: var(--atom);
	line-height: var(--line-height);
}

ul li::before {
	content: "⁃";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: var(--body);
	display: inline-block; /* Needed to add space between the bullet and the text */ 
	/*vertical-align:middle;*/
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
}


h1, h2, h3 {
	font-family: "Minipax", serif;	
}

h1 {
	font-weight: 800;
	font-size: 84px;
}
h2 {
	font-size: 45px;
}

h3 {
	font-size: 30px;
}

h2, h3 {
	font-weight: 600;
}


h1.typography {
	font-size: var(--t-h1);
	line-height: var(--t-h1-lh);
	
	margin-top: var(--t-h1-mt);
	margin-bottom: var(--t-h1-mb);
}

h2.typography {
	font-family: "Minipax", serif;

	font-size: var(--t-h2);
	line-height: var(--t-h2-lh);
	margin-top: var(--t-h2-mt);
	margin-bottom: var(--t-h2-mb);
}

h3.typography {
	font-family: "Minipax", serif;

	font-size: var(--t-h3);
	line-height: var(--t-h3-lh);
	margin-top: var(--t-h3-mt);
	margin-bottom: var(--t-h3-mb);
}

blockquote p {
	color: #FEFDEB;
	font-family: "Minipax", sans-serif;
	margin: var(--line-height) 0;
	line-height: var(--line-height);
	font-style: italic;
	text-indent: -0.5em;
/*	hanging-punctuation: first;*/

}


blockquote p::before {
	content: "“";
}

blockquote p::after {
	content: "”";
}



/* Navigation */
nav a {
	text-decoration: none;
}

nav ul li {
	display: inline-block;
}

nav ul li::before {
	content: "";
}

/* Other */

.relative {
	position: relative;
}



/* Object */





hr {
	margin-top: var(--line-height);
	margin-bottom: var(--line-height);
	border: 0;
	border-bottom: 2px dashed #9396E1;
}


/* Intro & About */

article {
	margin: 0 auto;
}

.full {
grid-column: 3 / -3 ;	
}

.strip {
grid-column: 1 / -1 ;	
}


video {
	min-width: 100%;
}

/* Who */

#who {
	display: grid; grid-template-columns: 1fr 1fr; perspective: 400px; margin-bottom: 60px;	
}



/* Features */

.feature {
/*	grid-column-start: span 4;*/
	
}



.feature-significant {
		padding: 0 40px;
	align-self: center;
}

.feature-significant h3 {
	margin-top: 10px;
}


img {
	max-width: 100%;
}

.question {
	grid-column-start: span 6;
}


#intro {
	padding-top: 0px;
	background: 
	url("../image/grid.svg") no-repeat
	,
	linear-gradient(180deg, #342D67 0%, #141034 60%);
	color: white;
/*	background-position: 0 0, top;*/
/*	background-size: 20px auto, auot;*/
	display: block;
	width: 100%;

}





.grid-16 {
	display: grid;
	grid-template-columns: repeat(16, var(--column));
	max-width: calc(16 * var(--column));
	grid-auto-columns: var(--column);
}

.grid-12 {
	display: grid;
	grid-template-columns: repeat(12, var(--column));
		max-width: calc(12 * var(--column));
	grid-auto-columns: var(--column);
}

.container {
	width: calc(var(--column) * 12);
}

.padding { 
	padding: 0 20px 0;
	box-sizing: border-box;
}

.grid-fluid-12 {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-auto-columns: minmax(0, 1fr);
}

.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0 30px;
}


.debug {
	outline: 2px dashed red;
}

/* Features */

#features {
	color: black;
	display: block;
	width: 100%;
	padding-bottom: 100px;
}

#color-well {
	top: 0;
	left: 0;
	z-index: -1;
	background: url("../image/color-well@2x.png") no-repeat center top, #F5F5F5;
	background-size: 140px auto, auto auto;
	background-position: calc(50% + 90px) 0, top;
	position: absolute;
	width: 100%;
	height: 100%;
}



.centered {
	margin: 0 auto;
}


.mb-100 {
	margin-bottom: 100px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-50 {
	margin-bottom: 50px;
}


#faq {
	background: #141034;
	color: white;
	display: block;
	width: 100%;
}


.gradient {

     background: linear-gradient(-90deg, #F2EFF8 30%, #E3B4F9 100%);
    background: -webkit-linear-gradient(-90deg, #F2EFF8 30%, #E3B4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bottom {

     background: linear-gradient(0deg, #F2EFF8 1%, #E3B4F9 100%);
    background: -webkit-linear-gradient(90deg, #F2EFF8 3%, #E3B4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-gradient {
	background: linear-gradient(90deg, #C01414 9.68%, #F6E54D 21.38%, #0EEF75 35.49%, #1122B9 49.89%, #D11285 63.69%);
/*		background: -webkit-linear-gradient(0, #C01414 9.68%, #F6E54D 21.38%, #0EEF75 35.49%, #1122B9 49.89%, #D11285 63.69%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.bold {
	font-family: "Ignazio", serif;
	font-weight: 600;
}

.shadow {
	box-shadow:	0px 10px 14px -12px rgb(0 0 0 / 40%);
}


h1.hero {
	font-size: calc(var(--t-h1) * var(--atom-coef));
}



/* Footer */

footer {
	background: #141034;
	padding: 150px 20px 50px;
	box-sizing: border-box;
}

/*footer li {
	display: block;
}

footer a {
	display: block;
}
*/

ul.small {
	font-size: var(--t-small);
}


.accent {
	color: #FEFDEB;
}


a.accent:link {
	color: #FEFDEB;
	border-bottom: 1.5px solid #FEFDEB;
}


a.accent:visited {
	color: #FEFDEB;
	border-bottom: 1.5px solid #FEFDEB;
}

a.accent:hover {
	border-bottom: 2px solid currentColor;
}


a:active {
	opacity: 0.5;
}



/* Animations */



.menu {
	transform: rotateX(90deg);
}

@keyframes pulse {
	0% {
		transform: rotateX(90deg);

	}
	100% {
		transform: rotateX(0);
	}
}

.anim {
	transform-origin: 50% 100%;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-name: pulse;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.emoji-indent {
	text-indent: -1.22em;
}


.rounded {
	border-radius: 2px;
}

.wow {
	filter: grayscale(1);
}

.flicker {
animation: flicker 2s;
animation-fill-mode: forwards;
}

@keyframes flicker {
  0% {
    filter: grayscale(0.9);
  }
  2% {
	    filter: grayscale(0);
  }
  8% {
	    filter: grayscale(0.9);
  }
  9% {
	    filter: grayscale(9);
  }
  12% {
	    filter: grayscale(0.9);
  }
  20% {
	    filter: grayscale(0);
  }
  25% {
	    filter: grayscale(0.7);
  }
  30% {
	    filter: grayscale(9);
  }
  
  70% {
	    filter: grayscale(0.3);
  }
  
  72% {
	    filter: grayscale(0.8);
  }
  
  77% {
	    filter: grayscale(0.1);
  }
  100% {
	    filter: grayscale(0.0);
  }
}


.emoji-animation {
	transition: transform 0.1s;
}

.emoji-animation:hover {
	transform: rotate(0) !important;
}

.perspective {
	perspective: 400px;
}



p.t-2mt {
	margin-top: calc(var(--line-height) * 2);
}

.joker-emoji {
	display: inline-block; 
	transform: rotate(-20deg); 
	font-size: calc(var(--atom) * 3); 
	position: absolute;
	top: -10px;
}


#title {
	text-align: center;
	margin: 60px 0 40px;
	grid-column: 1 / -1;
}

@media (max-width: 1280px) {
	
	
	:root {
		--atom: 18px;
		--atom-coef: 1.45;
		--column: 70px;
	}


	#color-well {
	
		background-size: 130px auto, auto auto;
		background-position: calc(50% + 90px) -10px, top;
	}



}


@media (max-width: 1200px) {
	

	:root {
		--atom: 16px;
		--atom-coef: 1.4;
		--column: 60px;
	}
	#title {
		text-align: left;
			grid-column: 3 / -3;
	}
	
	#color-well {
	
		background-size: 110px auto, auto auto;
	
	}

}

.video-container {
	position:relative;
	grid-column: 8 / -1;
	margin-top: -10px;
	margin-left: 20px;
}

@media (max-width: 1020px) {
	

	:root {
		--atom: 18px;
		--atom-coef: 1.45;
		--column: 80;
	}
	#about-column { 
		margin-bottom: 30px;
	}
	#title {
		font-size: var(--t-h1);
		text-align: left;
			grid-column: 1 / -1;
	}
	
	#color-well {
	
		background-size: 110px auto, auto auto;
	
	}
	
	.grid-12 {
		display: flex;
		flex-direction: column;
	}
	
	.grid-16 {
		display: flex;
		flex-direction: column;
	}

	.grid-3 {
		display: flex;
		flex-direction: column;
	}

	#about-title {
		display: none;
	}
	
	
	.video-container {
		margin-top: 0;
		margin-left: 0;
	}
	
	.perspective { 
		perspective: none;
	}
	
	.perspective * {
		transform: none;
	}
}



.footer-menu {
	display: flex; 
	justify-content: space-between;
}



@media (max-width: 700px) {
	.footer-menu {
		flex-direction: column;
		
	}
	
	#who {
		display: flex;
		flex-direction: column;
		padding: 0 1.3em;
	}
	
}


